In [1]:
import pandas as pd
from lemma.morph import Morph

In [2]:
morph = Morph('data')

In [3]:
morph.dwg.similar_items('осел')

['осёл,1872,0,2,1872,0,12562', 'осел,5855,0,2,1479,0,3962']

In [4]:
cols = ['word','tag','norm','tag_norm']

In [8]:
pd.DataFrame(morph.search('недоделал'), columns=cols)

,word,tag,norm,tag_norm
0,недоделал,"VERB,perf,tran @ masc,sing,past,indc",недоделать,"INFN,perf,tran @"

In [5]:
pd.DataFrame(morph.search('осел'), columns=cols)

,word,tag,norm,tag_norm
0,осёл,"NOUN,anim,masc @ sing,nomn",осёл,"NOUN,anim,masc @ sing,nomn"
1,осел,"VERB,perf,intr @ masc,sing,past,indc",осесть,"INFN,perf,intr @"

In [6]:
pd.DataFrame(morph.search('озера'), columns=cols)

    word                         tag   norm                    tag_norm
0  озёра  NOUN,inan,neut @ plur,accs  озеро  NOUN,inan,neut @ sing,nomn
1  озёра  NOUN,inan,neut @ plur,nomn  озеро  NOUN,inan,neut @ sing,nomn
2  озера  NOUN,inan,neut @ sing,gent  озеро  NOUN,inan,neut @ sing,nomn

In [7]:
pd.DataFrame(morph.search('валерия'), columns=cols)

,word,tag,norm,tag_norm
0,валерия,"NOUN,anim,femn,Name @ sing,nomn",валерия,"NOUN,anim,femn,Name @ sing,nomn"
1,валерия,"NOUN,anim,masc,Name @ sing,accs",валерий,"NOUN,anim,masc,Name @ sing,nomn"
2,валерия,"NOUN,anim,masc,Name @ sing,gent",валерий,"NOUN,anim,masc,Name @ sing,nomn"

In [8]:
pd.DataFrame(morph.search('валерии'), columns=cols)

,word,tag,norm,tag_norm
0,валерии,"NOUN,anim,femn,Name @ plur,nomn",валерия,"NOUN,anim,femn,Name @ sing,nomn"
1,валерии,"NOUN,anim,femn,Name @ sing,datv",валерия,"NOUN,anim,femn,Name @ sing,nomn"
2,валерии,"NOUN,anim,femn,Name @ sing,gent",валерия,"NOUN,anim,femn,Name @ sing,nomn"
3,валерии,"NOUN,anim,femn,Name @ sing,loct",валерия,"NOUN,anim,femn,Name @ sing,nomn"
4,валерии,"NOUN,anim,masc,Name @ plur,nomn",валерий,"NOUN,anim,masc,Name @ sing,nomn"
5,валерии,"NOUN,anim,masc,Name @ sing,loct",валерий,"NOUN,anim,masc,Name @ sing,nomn"

In [9]:
pd.DataFrame(morph.search('надёжность'), columns=cols)

,word,tag,norm,tag_norm
0,надёжность,"NOUN,inan,femn @ sing,accs",надёжность,"NOUN,inan,femn @ sing,nomn"
1,надёжность,"NOUN,inan,femn @ sing,nomn",надёжность,"NOUN,inan,femn @ sing,nomn"

In [10]:
pd.DataFrame(morph.search('винду'), columns=cols)

,word,tag,norm,tag_norm
0,винду,"NOUN,inan,femn,Infr @ sing,accs",винда,"NOUN,inan,femn,Infr @ sing,nomn"

In [11]:
pd.DataFrame(morph.search('сбола'), columns=cols)

,word,tag,norm,tag_norm
0,сбола,"NOUN,inan,masc,Abbr @ sing,gent",сбол,"NOUN,inan,masc,Abbr @ sing,nomn"

In [12]:
pd.DataFrame(morph.search('фира'), columns=cols)

,word,tag,norm,tag_norm
0,фира,"NOUN,anim,femn,Name @ sing,nomn",фира,"NOUN,anim,femn,Name @ sing,nomn"
1,фира,"NOUN,inan,masc,Abbr @ sing,gent",фир,"NOUN,inan,masc,Abbr @ sing,nomn"

In [13]:
pd.DataFrame(morph.search('фир'), columns=cols)

  word                              tag  norm                         tag_norm
0  фир  NOUN,anim,femn,Name @ plur,accs  фира  NOUN,anim,femn,Name @ sing,nomn
1  фир  NOUN,anim,femn,Name @ plur,gent  фира  NOUN,anim,femn,Name @ sing,nomn
2  фир  NOUN,inan,masc,Abbr @ sing,accs   фир  NOUN,inan,masc,Abbr @ sing,nomn
3  фир  NOUN,inan,masc,Abbr @ sing,nomn   фир  NOUN,inan,masc,Abbr @ sing,nomn

In [14]:
%%time
for _ in range(140000):
    morph.search('надёжность')
    # morph.dwg.similar_items('надёжность')

CPU times: user 730 ms, sys: 17.2 ms, total: 747 ms
Wall time: 742 ms

In [15]:
!du -h data/*

4.0K	data/dict.custom.json
402M	data/dict.opcorpora.xml
8.0K	data/prefixes.txt
172K	data/suffixes.txt
220K	data/tags.txt
11M	data/words.dawg